.navbar {
    background-color: #343a40;
}

.navbar-brand, .nav-link {
    color: #a380f5 !important;
}

.navbar-brand:hover, .nav-link:hover {
    color: #ffc107 !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.dropdown-menu {
    background-color: #495057;
    border: none;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: #6c757d;
    color: #ffc107;
}
